/* .login-container {
    background-color: aqua;
    background: url(./Images/blackpf.html);
} */

/* 
.fifthpg {
    text-align: center;
}

.fifthpg h2 {
    opacity: 0;
    animation: fadeInAnimation 2s ease-in-out forwards;
    /* Animation name, duration, timing function, and fill mode */
/* }

@keyframes fadeInAnimation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
} */ 